<h3>Add Family Details</h3>
 <p><font color="red">*</font><i>denotes required field</i>
    <form method="POST" action="/family">
        
        <%= render :partial => "family_new_form" %>

    </form>